
  <div class="container_tot">
    <div class = "div_header">
      <header>
         <img src= "assets/DAMA_scritta.png"  height="29" style="padding-left: 5px; padding-top: 3px">
          covRew - Impact Evaluation
      </header>
    </div>

    <div class="container_chiara">
      <div class="container_in_chiara">
      <div id="pages_lines" >
        <ul class="nav nav-pills stats_page"></ul>
        <div class="tab-content border_style"></div>
      </div>

    </div>
  </div>

      <!-- <mat-form-field>
        <mat-label>Tooltip position</mat-label>
        <mat-select [formControl]="position">
          <mat-option *ngFor="let positionOption of positionOptions" [value]="positionOption">
            {{positionOption}}
          </mat-option>
        </mat-select>
      </mat-form-field>

<div class="example-container" cdkScrollable>
      <button mat-raised-button #tooltip="matTooltip"
         matTooltip="Info about the action"
         [matTooltipPosition]="position.value"
         matTooltipHideDelay="100000"
         aria-label="Button that displays a tooltip that hides when scrolled out of the container">
   Action
 </button>
 </div> -->


 <!-- <h1 tooltip="This is a tooltip">Hey there </h1> -->

    <div align=right  class='sub_div'>
      <button class="btn btn-lg bottoni" (click)="back()"> Back </button>
      <button class="btn btn-lg bottoni" (click)="addNewItemRewriting()"> Confirm </button>
    </div>

  </div>
