
  <div class="container_tot">
    <div class = "div_header">
      <header>
         <img src= "assets/DAMA_scritta.png"  height="29" style="padding-left: 5px; padding-top: 3px">
          <span class="text_in_header">covRew - Rewritten script</span>
      </header>
    </div>

    <div class="container_chiara">
      <div class="container_in_chiara">
        <div >
          <div class="testo_titoletti">
            Here is the rewritten script:
          </div>
          <div id="final_script">
            <div class="box_text_code" id="final_script_text" style="height:500px; overflow-y:auto;">  </div>
          </div>

        </div>
      </div>
    </div>

    <div align=right  class='sub_div'>
      <button class="btn btn-lg bottoni" routerLink="/dataset"> Restart </button>
    </div>
  </div>
